@import './components/navbar/navbar.css';
@import './components/preview/preview.css';
@import './components/advantages/advantages.css';
@import './components/reviews/reviews.css';
@import './components/hot-offers/hotOffers.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*    @apply bg-purple-500;*/
/*}*/

@font-face {
    font-family: 'Andika-Bold';
    src: url('public/fonts/Andika-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('public/fonts/Jost-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url('public/fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.phone-number-p {
    @apply select-none text-[1rem] text-white underline hover:cursor-copy hover:text-blue-500;
}

.saved-message {
    @apply absolute text-[0.9rem] text-green-600;
}

.phone-number-ul {
    @apply text-white hover:cursor-copy hover:text-blue-500;
}

.admin-upload-button {
    @apply h-12 transform rounded-full bg-blue-500 px-4 py-2 font-bold text-white shadow-lg transition duration-300 ease-in-out;
    @apply hover:scale-105 hover:bg-blue-700;
    @apply max-laptop:text-sm max-mobile:px-2.5 max-mobile:py-1 max-mobile:text-[1rem];
}
