.switch-review-arrow {
    @apply text-white transition-transform hover:scale-110 hover:cursor-pointer;
}

@keyframes scaleUp {
    0% {
        @apply scale-100;
    }

    100% {
        @apply scale-125;
    }
}

.animate-scale-up {
    animation: scaleUp 400ms forwards;
}

@keyframes scaleDown {
    0% {
        @apply scale-125 bg-red-200;
    }

    100% {
        @apply scale-100 bg-amber-100;
    }
}

.animate-scale-down {
    animation: scaleDown 400ms forwards;
}

.form-button {
    @apply rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none;
}

.form-label {
    @apply mb-2 block font-ptsans-bold text-gray-700;
}

.text-input-form-field {
    @apply w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-2 focus:border-blue-200 focus:outline-none;
}

.custom-arrow {
    z-index: 10;
    background-color: rgba(
        0,
        0,
        0,
        0.6
    ); /* Semi-transparent black background */
    border: none; /* Remove border */
    border-radius: 50%; /* Make it circular */
    width: 50px; /* Set width */
    height: 50px; /* Set height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Position arrows absolutely */
    top: 50%; /* Center vertically */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    transition:
        transform 0.3s ease,
        background-color 0.3s ease; /* Smooth transition */
    filter: blur(0.5px);
}

.custom-arrow svg {
    fill: #ffffff; /* Set arrow color to white */
}

.custom-arrow.splide__arrow--prev {
    left: 1%; /* Position left arrow */
    margin-top: -1.2%;
}

.custom-arrow.splide__arrow--next {
    right: 1%; /* Position right arrow */
    margin-top: -1.2%;
}

.custom-arrow:hover {
    transform: scale(1.2); /* Scale on hover */
    background-color: rgba(0, 0, 0, 0.8); /* Darken background on hover */
}

/* Hide arrows on mobile devices */
@media (max-width: 768px) {
    /* Adjust the max-width as needed */
    .custom-arrow {
        display: none; /* Hide arrows */
    }
}

/* Override styles for Splide pagination dots */
.splide__pagination .splide__pagination__page {
    background-color: #ffffff; /* Darker gray for inactive dots */
    opacity: 1; /* Ensure dots are fully opaque */
}

.splide__pagination .splide__pagination__page.is-active {
    background-color: #eab308; /* Darker blue for active dot */
    opacity: 1; /* Ensure dots are fully opaque */
}
